p {
  color: red;
  border: 1px solid red;
  font-family: "Times New Roman", Times, serif;
  font-size: small;
}

section {
  color: white;
  background-color: black;
  border: 1px solid red;
}

a {
  color: black;
  border: 1px solid red;
}
