#page {
  display: grid;
  width: 50%;
  height: 250px;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 150px auto 30px;

  grid-template-areas:
    "head head"
    "nav  main"
    "nav  foot";

  font-family: "Courier New", Courier, monospace;
}

#page > header {
  grid-area: head;
  background-color: #8ca0ff;
}

#page > nav {
  grid-area: nav;
  background-color: #ffa08c;
}

#page > main {
  grid-area: main;
  background-color: #ffff64;
}

#page > footer {
  grid-area: foot;
  background-color: #8cffa0;
}
