* {
  font-family: Arial, Helvetica, sans-serif;
}

.flex-para {
    display: flex;
}
body {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.inline-para {
    display: inline-block;
    width: 300px;
}

#main-img:hover {
  border: 2px solid blue;
  width: 60%;
}

p::first-letter {
  font-size: 20pt;
  font-style: italic;
}
p::first-line {
  font-weight: bold;
}

img[alt] {
  border: 5px dotted aliceblue);
}
